* {
    margin: 0;
}

.container{
    display:flex;
}

.column-2 {
  flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
  flex-basis: 45%; /* sets initial width to 70% */
  background-color: rgb(13, 129, 238);
}

@media only screen and (max-width: 900px) {
    .container {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
}