* {
    margin: 0;
}

.container{
    display:flex;
}

.column-1 {
  flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
  flex-basis: 45%; /* sets initial width to 70% */
  background-color: lightslategray;
}

.box {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgb(116, 116, 116);
  margin: 1rem;

}
@media only screen and (max-width: 900px) {
    .container {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
}